.navbar{
    background:black;
}
.nav-link , .navbar-brand{
    color: white !important;
    cursor: pointer;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    background: #4169E1;
}
.navbar-collapse{
    justify-content: flex-end;
}

.input-group{
    max-width: 700px;
}

.button_search{
    background: #4169E1;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
    color:white;
}
.button_search:hover{
    background: #1E90FF;
    color:white;
}

.navbar-toggler{
    margin-top: 4px;
}

.input-group input{
    margin-right: 0!important;
}
.form-control:focus {
    border-color: #ced4da;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}


.catalog{
    background: black;

}
.catalog ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
.catalog ul.nav li {
    background: black;
    list-style: none;
    text-align: center;
    width: 200px;

}
.catalog ul.nav li a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 5px 5px 5px 15px;

}
.catalog ul.nav li ul {
    display: none;
}


.catalog ul.nav li:hover {
    position: relative;
    background: #4169E1;
}
.catalog ul.nav li:hover > ul {
    display: block;
}
.catalog ul.nav li:hover ul{
    position: absolute;
    top: auto;
    left: 50px;
    z-index: 2;
}

.OrderHistory h3{
    text-align: center;
    margin: 50px;
}
.data{
    border-left: 3px solid #C0C0C0;
}
.item{
    list-style: none;
}
.item a{
    color: black;
}
.item .history{
    text-decoration: underline;
}

th{
    padding-right: 25px;
    padding-left: 25px;
}
tr{
    border-bottom: 2px solid #C0C0C0;
}
td{
    text-align: center;
}
.main_part{
    margin-bottom: 270px;
}


.info-menu{
    background: black;
    color: white;
    margin-top: 100px;
}

.info-menu .column{
    margin-top: 30px;
    margin-bottom: 30px;
}

.info-menu p{
    margin: 2px;
}

.info-menu a{
    margin: 2px;
    color: white;
    text-decoration: none;
    display: block;
}



.pages{
    position: absolute;
    top: 150px;
    left: 0;
}
.pages ul{
    padding: 7px;
}
.pages li{
    list-style: none;
    height: 30px;
    width: 30px;
    background: #C0C0C0;
    margin-bottom: 5px;
    border: 1px solid;
    text-align: center;
}

.pages a{
    color: black;
}


